
.about {
    background-color: lightcoral;
    min-height: calc(100vh - #{$navHeight});
    h2 {
        @extend %title
    }
    :deep(.el-timeline){
        width: fit-content;
        margin-left: 5vw;
        &-item__timestamp {
            color: #eee;
        }
    }
}