.header {
    position: fixed;
    background-color: $color_header_bg;
    width: 100vw;
    box-sizing: border-box;
    height: $navHeight;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 999;
    padding: 0 35px;
    transition: 0.4s ease;
    box-shadow: 5px 0 5px #ddd;
    @include size_M {
      padding: 0 20px;
    }
    &.active {
      background-color: $color_header_active_bg;
    }
    .logo {
      color: $color_header_logo;
      line-height: $navHeight;
      font-weight: 500;
      cursor: pointer;
      &.active {
        color: $color_header_active_logo;
      }
      // span {
      //   @include size_S {
      //     display: none;
      //   }
      // }
    }
    .sidemenu {
      // margin-right: 30px;
      &__btn {
        background-color: rgba(255, 255, 255, 0);
        display: block;
        width: 50px;
        height: 50px;
        border: none;
        position: relative;
        z-index: 100;
        appearance: none;
        cursor: pointer;
        outline: none;
        span {
          background: $color_header_hamburger;
          display: block;
          width: 20px;
          height: 2px;
          margin: auto;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          transition: all 0.4s ease;
          &.top {
            transform: translateY(-8px);
          }
          &.bottom {
            transform: translateY(8px);
          }
        }
        &.active {
          .top {
            transform: rotate(-45deg);
            background: $color_header_active_hamburger;
          }
          .mid {
            transform: translateX(-20px) rotate(360deg);
            opacity: 0;
          }
          .bottom {
            transform: rotate(45deg);
            background: $color_header_active_hamburger;
          }
        }
      }
      &__wrap {
        margin-top: 60px;
        @include size_L {
          margin-top: 50px;
        }
        @include size_M {
          margin-top: 40px;
        }
        @include size_S {
          margin-top: 30px;
        }
      }
  
      &__list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start; 
        list-style: none;
        padding: 0;
        margin-left: 40px;
      }
  
      &__item {
        li {
          list-style: none;
        }
        ul {
          padding-left: 20px;
        }
        a {
            text-decoration: none;
            display: block;
            color: $color_header_menu;
            transition: 0.1s ease;
            &:hover {
            // background: #f2f491;
            // color: dimgrey;
            font-weight: bold;
            }
            &.active {
              color: $color_header_active_menu;
            }
        }
      }
    }
    nav {
        width: $menuWidth;
        height: calc(100vh - #{$navHeight});
        background-color: $color_header_menu_bg;
        position: fixed;
        bottom: 0;
        right: -$menuWidth;
        z-index: 99;
        transition: 0.4s ease;
        &.active {
            right: 0;
            
            background-color: $color_header_active_menu_bg;
        }
    }
  }