@keyframes blink {
	0% {opacity: 0}
	49%{opacity: 0}
	50% {opacity: 1}
}

blink{animation: blink 1s infinite;}

.works {
  position: relative;
  min-height: 500px;
  // background-size: cover;
  h2 {
    @extend %title;
  }
  .scroll-section {
    overflow: hidden;
    height: fit-content;
    .wrap {
      width: fit-content;
      display: flex;
      height: calc(100vh - #{$navHeight} - 130px);
      min-height: 420px;
      padding-right: 50px;
      margin-left: 40px;
      .card {
        width: 700px;
        height: 350px;
        margin-left: 40px;
        background-color: $color_all_card_bg;
        display: flex;
        position: relative;
        transition: all 1s ease;
        z-index: 10;
        box-shadow: 5px 5px 10px #888888;
        &:hover {
          .content {
            display: block;
            // bottom: 0;
            @include size_M {
              display: none;
            }
          }
        }
        .title {
          position: absolute;
          width: 100%;
          top: 0;
          left: 0;
          margin: 0;
          padding: 8px 20px;
          box-sizing: border-box;
          z-index: 99;
          a {
            margin: 0 auto;
            width: fit-content;
            text-decoration: none;
            position: relative;
            display: flex;
            align-items: center;
            .connection {
              margin-left: 5px;
            }
            &::after {
              content: '';
              position: absolute;
              width: 100%;
              transform: scaleX(0);
              height: 2px;
              bottom: 0;
              left: 0;
              background-color: #fff;
              transform-origin: bottom right;
              transition: transform 0.25s ease-out;
            }
            &:hover::after {
              transform: scaleX(1);
              transform-origin: bottom left;
              @include size_M {
                text-decoration: none;
              }
            }
          }
        }
        .left {
          flex: 2;
          // background-color: $color_vue_card_left_bg;
          .icons {
            margin-top: 70px;
            margin-left: 10px;
            font-size: 20px;
            // color: $color_vue_card_left_icons;
            @include size_M {
              font-size: 17px;
            }
            @include size_S {
              font-size: 15px;
            }
            @include size_XS {
              font-size: 13px;
            }
            i {
              margin-left: 10px;
              padding: 5px;
              border: 1px solid;
              border-radius: 100%;
            }
          }
          .tags {
            margin: 20px;
            // color: $color_vue_card_left_tags;
            font-style: italic;
            span {
              display: block;
              margin-bottom: 5px;
            }
          }
          small {
            margin: 0 20px 5px;
            font-size: 12px;
            // color: $color_vue_card_left_small;
            font-style: italic;
            display: none;
          }
        }
        .right {
          flex: 8;
          overflow: hidden;
          vertical-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.5s ease;
            // &:hover {
            //   transform: scale(1.1);
            //   @include size_M {
            //     transform: none;
            //   }
            // }
          }
          .mobile {
            position: absolute;
            width: 130px;
            height: 270px;
            right: 10px;
            bottom: -15px;
            img {
              height: 100%;
              object-fit: cover;
              &:hover {
                transform: scale(1.1);
                @include size_M {
                  transform: none;
                }
              }
            }
          }
        }
        .content {
          display: none;
          background-color: $color_all_card_content_bg;
          width: 100%;
          height: 40px;
          line-height: 40px;
          box-sizing: border-box;
          position: absolute;
          bottom: 0;
          padding: 0 10px;
          transition: 0.5s ease;
          z-index: 1;
        }
        @include size_M {
          width: 550px;
          height: 400px;
          flex-direction: column;
          .left {
            order: 2;
            z-index: 11;
            .icons {
              margin-top: 10px;
            }
            .tags {
              display: flex;
              flex-wrap: wrap;
              margin: 10px 20px;
              span {
                width: fit-content;
                display: inline-block;
                margin-bottom: 0;
                margin-right: 10px;
              }
            }
          }
          .right {
            order: 1;
            .mobile {
              // display: none;
              z-index: 99;
              width: 110px;
              height: 250px;
            }
          }
          .content {
            display: block;
            z-index: 9;
            // padding: 0 5px;
            &.isLong {
              height: 52px;
              line-height: 26px;
              padding: 0 15px;
            }
          }
          // &:hover {
          //   .content {
          //     margin-bottom: -40px;
          //     &.isLong {
          //       margin-bottom: -52px;
          //     }
          //   }
          // }
        }
        @include size_S {
          width: 400px;
          height: 350px;
          .right .mobile {
            width: 107px;
            height: 220px;
            margin-bottom: 48px;
            right: -4px;
          }
          .left small {
            display: block;
          }
        }
        @include size_XS {
          width: 350px;
          height: 300px;
          .right .mobile {
            width: 90px;
            height: 180px;
            margin-bottom: 65px;
            right: -5px;
          }
        }
        @include size_XXS {
          width: 300px;
          height: 280px;
          .right .mobile {
            width: 75px;
            height: 160px;
            margin-bottom: 60px;
          }
        }
      }
      @include size_M {
        margin: 0 auto;
        padding: 0;
        flex-direction: column;
        width: fit-content;
        height: fit-content;
        .card {
          margin: 0 0 60px 0;
        }
      }
    }
  }
  .notice {
    position: absolute;
    right: 10%;
    bottom: 3%;
    display: flex;
    justify-content: space-between;
    width: 110px;
    height: 30px;
    font-size: 30px;
    line-height: 30px;
    z-index: 9;
    color: $color_Main;
    @include size_M {
      display: none;
    }
  }
}
.works-layout {
  background-color: $color_layout_bg;
  background-image: url("~@/assets/waves/wave-layout-top.svg"), url("~@/assets/waves/wave-layout-bottom.svg");
  background-repeat: no-repeat;
  background-position: top, bottom;
  h2 {
    color: $color_layout_page_title;
  }
  .card {
    .title {
      background-color: $color_layout_card_title_bg;
      a {
        color: $color_layout_card_title;
      }
    }
    .left {
      background-color: $color_layout_card_left_bg;
      .icons  {
        color: $color_layout_card_left_icons;
        border-color: $color_layout_card_left_icons;
      }
      .tags {
        color: $color_layout_card_left_tags;
      }
      small {
        color: $color_layout_card_left_small;
      }
    }
  }
}
.works-vue {
  background-color: $color_vue_bg;
  h2 {
    color: $color_vue_page_title;
  }
  .card {
    .title {
      background-color: $color_vue_card_title_bg;
      a {
        color: $color_vue_card_title;
      }
    }
    .left {
      background-color: $color_vue_card_left_bg;
      .icons  {
        color: $color_vue_card_left_icons;
        border-color: $color_vue_card_left_icons;
      }
      .tags {
        color: $color_vue_card_left_tags;
      }
      small {
        color: $color_vue_card_left_small;
      }
    }
  }
}
.works-react {
  background-color: $color_react_bg;
  background-image: url("~@/assets/waves/wave-react-top.svg");
  background-repeat: no-repeat;
  background-position: top;
  margin-bottom: 30px;
  h2 {
    color: $color_react_page_title;
  }
  .card {
    .title {
      background-color: $color_react_card_title_bg;
      a {
        color: $color_react_card_title;
      }
    }
    .left {
      background-color: $color_react_card_left_bg;
      .icons  {
        color: $color_react_card_left_icons;
        border-color: $color_react_card_left_icons;
      }
      .tags {
        color: $color_react_card_left_tags;
      }
      small {
        color: $color_react_card_left_small;
      }
    }
  }
}

